# Basic operations on mapping files with EnergyScope as an example

In [1]:
from mescal import *
import pandas as pd
import bw2data as bd

In [2]:
mapping = pd.read_csv('energyscope_data/mapping_QC.csv')

In [3]:
mapping.head()

,Name,Type,Product,Activity,Database
0,ALKALINE_ELECTROLYSIS,Operation,"hydrogen, gaseous, 20 bar","hydrogen production, gaseous, 20 bar, from AEC...",h2_electrolysis
1,ALKALINE_ELECTROLYSIS_PLANT,Construction,"electrolyzer, 1MWe, AEC, Balance of Plant","electrolyzer production, 1MWe, AEC, Balance of...",h2_electrolysis
2,ALKALINE_ELECTROLYSIS_STACK,Construction,"electrolyzer, 1MWe, AEC, Stack","electrolyzer production, 1MWe, AEC, Stack",h2_electrolysis
3,ALKALINE_ELECTROLYSIS_STACK_DECOM,Construction,"used fuel cell stack, 1MWe, AEC","treatment of fuel cell stack, 1MWe, AEC",h2_electrolysis
4,ALKALINE_ELECTROLYSIS_PLANT_DECOM,Construction,"used fuel cell balance of plant, 1MWe, AEC","treatment of fuel cell balance of plant, 1MWe,...",h2_electrolysis

In [4]:
bd.projects.set_current("ei3.8-mescal")

In [5]:
base_db = concatenate_databases(list(mapping.Database.unique()))

## Add location column based on a user-defined ranking

In [6]:
my_ranking = [
    'CA-QC',
    'CA',
    'CA-ON',
    'CA-AB',
    'CA-BC',
    'CA-MB',
    'CA-NB',
    'CA-NF',
    'CA-NS',
    'CA-NT',
    'CA-NU',
    'CA-PE',
    'CAZ',
    'RNA',
    'US',
    'USA',
    'GLO',
    'RoW'
]

In [7]:
mapping_with_locations = change_location_mapping_file(mapping, my_ranking, base_db, 'QC')

In [8]:
mapping_with_locations.Location.unique()

array(['CH', 'RER', 'RoW', 'CA', 'US', 'GLO', 'CA-QC', 'RNA', 'CA-ON',
       'US-NPCC'], dtype=object)

## Relink the mapping with premise database

In [9]:
name_premise_db = "ecoinvent_cutoff_3.8_remind_SSP2-Base_2020"

In [10]:
premise_db = load_extract_db(name_premise_db)

In [11]:
mapping_linked_to_premise = create_complementary_database(mapping_with_locations, 'QC', name_premise_db)

No inventory in the premise database for ('EHP_H2_GRID', 'Construction')
No inventory in the premise database for ('HP_H2_GRID', 'Construction')
No inventory in the premise database for ('LP_H2_GRID', 'Construction')
No inventory in the premise database for ('MP_H2_GRID', 'Construction')
No inventory in the premise database for ('LCV_BIODIESEL_B100', 'Operation')
No inventory in the premise database for ('LCV_BIODIESEL_B100', 'Construction')
No inventory in the premise database for ('LCV_BIODIESEL_B20', 'Operation')
No inventory in the premise database for ('LCV_BIODIESEL_B20', 'Construction')
No inventory in the premise database for ('LCV_CNG', 'Construction')
No inventory in the premise database for ('LCV_CNG', 'Operation')
No inventory in the premise database for ('LCV_DIESEL', 'Operation')
No inventory in the premise database for ('LCV_DIESEL', 'Construction')
No inventory in the premise database for ('LCV_ETOH_E10', 'Operation')
No inventory in the premise database for ('LCV_ETOH_E10', 'Construction')
No inventory in the premise database for ('LCV_ETOH_E85', 'Construction')
No inventory in the premise database for ('LCV_ETOH_E85', 'Operation')
No inventory in the premise database for ('LCV_EV', 'Construction')
No inventory in the premise database for ('LCV_EV', 'Operation')
No inventory in the premise database for ('LCV_FC_CH4', 'Operation')
No inventory in the premise database for ('LCV_FC_CH4', 'Construction')
No inventory in the premise database for ('LCV_FC_H2', 'Operation')
No inventory in the premise database for ('LCV_FC_H2', 'Construction')
No inventory in the premise database for ('LCV_GASOLINE', 'Construction')
No inventory in the premise database for ('LCV_GASOLINE', 'Operation')
No inventory in the premise database for ('LCV_PHEV_GASOLINE', 'Construction')
No inventory in the premise database for ('LCV_PHEV_GASOLINE', 'Operation')
No inventory in the premise database for ('LCV_PROPANE', 'Construction')
No inventory in the premise database for ('LCV_PROPANE', 'Operation')
No inventory in the premise database for ('SEMI_SD_BIODIESEL_B100', 'Construction')
No inventory in the premise database for ('SEMI_SD_BIODIESEL_B100', 'Operation')
No inventory in the premise database for ('SEMI_SD_BIODIESEL_B20', 'Construction')
No inventory in the premise database for ('SEMI_SD_BIODIESEL_B20', 'Operation')
No inventory in the premise database for ('SEMI_SD_CNG', 'Construction')
No inventory in the premise database for ('SEMI_SD_CNG', 'Operation')
No inventory in the premise database for ('SEMI_SD_DIESEL', 'Construction')
No inventory in the premise database for ('SEMI_SD_DIESEL', 'Operation')
No inventory in the premise database for ('SEMI_SD_EV', 'Construction')
No inventory in the premise database for ('SEMI_SD_EV', 'Operation')
No inventory in the premise database for ('SEMI_SD_FC_CH4', 'Construction')
No inventory in the premise database for ('SEMI_SD_FC_CH4', 'Operation')
No inventory in the premise database for ('SEMI_SD_FC_H2', 'Operation')
No inventory in the premise database for ('SEMI_SD_FC_H2', 'Construction')
No inventory in the premise database for ('SEMI_SD_HY_DIESEL', 'Construction')
No inventory in the premise database for ('SEMI_SD_HY_DIESEL', 'Operation')
No inventory in the premise database for ('SEMI_SD_PROPANE', 'Construction')
No inventory in the premise database for ('SEMI_SD_PROPANE', 'Operation')
No inventory in the premise database for ('TRUCK_SD_BIODIESEL_B100', 'Construction')
No inventory in the premise database for ('TRUCK_SD_BIODIESEL_B100', 'Operation')
No inventory in the premise database for ('TRUCK_SD_BIODIESEL_B20', 'Construction')
No inventory in the premise database for ('TRUCK_SD_BIODIESEL_B20', 'Operation')
No inventory in the premise database for ('TRUCK_SD_CNG', 'Construction')
No inventory in the premise database for ('TRUCK_SD_CNG', 'Operation')
No inventory in the premise database for ('TRUCK_SD_DIESEL', 'Construction')
No inventory in the premise database for ('TRUCK_SD_DIESEL', 'Operation')
No inventory in the premise database for ('TRUCK_SD_EV', 'Construction')
No inventory in the premise database for ('TRUCK_SD_EV', 'Operation')
No inventory in the premise database for ('TRUCK_SD_FC_CH4', 'Construction')
No inventory in the premise database for ('TRUCK_SD_FC_CH4', 'Operation')
No inventory in the premise database for ('TRUCK_SD_HY_DIESEL', 'Construction')
No inventory in the premise database for ('TRUCK_SD_HY_DIESEL', 'Operation')
No inventory in the premise database for ('TRUCK_SD_PROPANE', 'Construction')
No inventory in the premise database for ('TRUCK_SD_PROPANE', 'Operation')

Writing activities to SQLite3 database:
0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:00

Title: Writing activities to SQLite3 database:
  Started: 06/11/2024 18:58:06
  Finished: 06/11/2024 18:58:06
  Total time elapsed: 00:00:00
  CPU %: 77.40
  Memory %: 29.82

In [12]:
mapping_linked_to_premise.head()

,Name,Type,Product,Activity,Location,Database
0,ALKALINE_ELECTROLYSIS,Operation,"hydrogen, gaseous, 20 bar","hydrogen production, gaseous, 20 bar, from AEC...",CH,ecoinvent_cutoff_3.8_remind_SSP2-Base_2020
1,ALKALINE_ELECTROLYSIS_PLANT,Construction,"electrolyzer, 1MWe, AEC, Balance of Plant","electrolyzer production, 1MWe, AEC, Balance of...",RER,ecoinvent_cutoff_3.8_remind_SSP2-Base_2020
2,ALKALINE_ELECTROLYSIS_STACK,Construction,"electrolyzer, 1MWe, AEC, Stack","electrolyzer production, 1MWe, AEC, Stack",RER,ecoinvent_cutoff_3.8_remind_SSP2-Base_2020
3,ALKALINE_ELECTROLYSIS_STACK_DECOM,Construction,"used fuel cell stack, 1MWe, AEC","treatment of fuel cell stack, 1MWe, AEC",RER,ecoinvent_cutoff_3.8_remind_SSP2-Base_2020
4,ALKALINE_ELECTROLYSIS_PLANT_DECOM,Construction,"used fuel cell balance of plant, 1MWe, AEC","treatment of fuel cell balance of plant, 1MWe,...",RER,ecoinvent_cutoff_3.8_remind_SSP2-Base_2020